@{
    ViewData["Title"] = "Inicio";
}

<div class="text-center mt-5">
    <h1 class="display-4">Bienvenido a la plataforma</h1>
    <p>programa de gestión de empleados, centros y plantas.</p>
    @Html.Partial("_Imagen")
</div>
